/* configuro la fuente, nombre y ubicación */
@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

/*  * -> selector universal // configuro la fuente para todo el sitio */
* {
    font-family: "Montserrat";
}

/* configuración de variables*/
:root{
    --color-principal: #FFBD59;     
    --color-secundario: #FF3131;
    --color-terciario: #F6F4F3;     
    --color-cuarto:#413c35;
}

/*estilos del body*/
body{
    background-color: var(--color-principal);
    color: var(--color-cuarto);
}

/* cambié la configuración, en vez de usar una clase header, uso el elemento header, ya que todas las páginas tienen lo mismo*/
header {    
    nav {
        height: 100%;
        padding: 15px;
        display: flex;
        align-items:end;
        justify-content: space-between;
        color: var(--color-cuarto);

        a{
            text-decoration: none;
            display: flex;
            font-size: 1.5rem;
            color: var(--color-cuarto);
            font-weight: bold;
        }

        .logo {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            img {
                width: 200px;
            }
            span {
                font-size: 1.7rem;                
                padding-top: 10px;                
            }            
        }
        
        ul{
            list-style: none;
            display: flex;
            column-gap: 70px;
        }
    }
}

.mainPrincipal {
    display: flex;
    flex-direction: column;

    .seccionPrincipalArriba {
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 30px 0px ;
    }
    
    .seccionPrincipalCentro{
        display: flex;  
        flex-direction: column;      
        padding: 0px 30px ;
        font-size: 1.5rem;

        .contenedorDescripcion {
            display: flex;
            flex-direction: row;
            align-items: center;

            .descripcion {   
                font-size: 1.3rem;
                width: 50%;         /* para que ocupe la mitad de su padre, para que entren los 2 divs */
                display: flex;
                flex-direction: row;
                align-items: center;
                img{
                    padding: 15px;
                    height: 250px;
                    object-fit: cover;      /*para que las imagenes no se deformen*/   
                }
               
            } 
        }
    }
    
    .btnComprar {
        font-size: 1.5rem;
        font-weight: bold;
        background-color: var(--color-secundario);
        color: var(--color-principal);
        border-radius: 20px;
        padding: 20px 40px;
        margin-top: 30px;
        margin-left: 30px;
    }

    .btnComprar:hover{
        background-color: var(--color-cuarto);
        color: var(--color-terciario);
        font-size: 1.7rem;
    }
}

footer {    
    ul{
        list-style: none;
        display: flex;
        column-gap: 70px;
        img{
            width: 30px;
        }
    }

    a{
        text-decoration: none;
        display: flex;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--color-secundario);
    }

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    nav {
        height: 100%;
        padding: 15px;
    }

    .aportes {
        padding-left: 30px;
        font-size: 0.9rem;
        a {
            font-weight: normal;            
        } 
    }
    
}
