/* configuro la fuente, nombre y ubicación */
@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

/*  * -> selector universal // configuro la fuente para todo el sitio */
* {
    font-family: "Montserrat";
}

/* configuración de variables*/
:root{
    --color-principal: #FFBD59;     
    --color-secundario: #FF3131;
    --color-terciario: #F6F4F3;     
    --color-cuarto:#413c35;
}

/*estilos del body*/
body{
    background-color: var(--color-principal);
    color: var(--color-cuarto);
}

/* cambié la configuración, en vez de usar una clase header, uso el elemento header, ya que todas las páginas tienen lo mismo*/
header {    
    nav {
        height: 100%;
        padding: 15px;
        display: flex;
        align-items: end;
        justify-content: space-between;
        color: var(--color-cuarto);

        a {
            text-decoration: none;
            display: flex;
            font-size: 1.5rem;
            color: var(--color-cuarto);
            font-weight: bold;

        }

        .logo {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            img {
                width: 200px;
            }
            span {
                font-size: 1.7rem;                
                padding-top: 10px;                
            }            
        }
        
        ul {
            list-style: none;
            display: flex;
            column-gap: 70px;
            flex-direction: row;
            align-items: inherit;

            .imgCarrito {
                height: 70px;
            }

            .imgCarrito:hover {
                cursor: pointer;
            }
        }
    }
}

.mainPrincipal {
    display: flex;
    flex-direction: column;

    .seccionPrincipalArriba {
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 30px 0px ;
    }
    
    .seccionPrincipalCentro {
        display: flex;  
        flex-direction: column;      
        padding: 0px 30px ;
        font-size: 1.5rem;

        .contenedorDescripcion {
            display: flex;
            flex-direction: column;
            align-items: center;

            .descripcion {   
                font-size: 1.3rem;
                /*width: 50%;*/         /* para que ocupe la mitad de su padre, para que entren los 2 divs */
                display: flex;
                flex-direction: row;
                align-items: center;
                img {
                    padding: 15px;
                    height: 250px;
                    object-fit: cover;      /*para que las imagenes no se deformen*/   
                }               
            } 
        }
    }
    
    .btnComprar {
        font-size: 1.5rem;
        font-weight: bold;
        background-color: var(--color-secundario);
        color: var(--color-principal);
        border-radius: 20px;
        padding: 20px 40px;
        margin-top: 30px;
        margin-left: 30px;

        a {
            text-decoration: none;  
            color: var(--color-principal);      
        }
    }

    .btnComprar:hover {
        background-color: var(--color-cuarto);
        color: var(--color-terciario);
        font-size: 1.7rem;
        a {
            color: var(--color-terciario);            
        }

    }
}

footer {    
    ul {
        list-style: none;
        display: flex;
        column-gap: 70px;
        img{
            width: 30px;
        }
    }

    a {
        text-decoration: none;
        display: flex;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--color-secundario);
    }

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    nav {
        height: 100%;
        padding: 15px;
    }

    .aportes {
        padding-left: 30px;
        font-size: 0.9rem;
        a {
            font-weight: normal;            
        } 
    }
    
}

/*   ->Estilos de la pagina productos */
.mainProductos{
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo {
        text-align: center;
        font-size: 1.8rem;
        text-shadow: #FF3131;  
    }

    .fila {
        display: flex;
        align-content: space-between;
        justify-content: baseline;
        gap: 15px;
        margin: 30px;
    }
    
    
    .items {
        background-color: var(--color-terciario);
        color: var(--color-cuarto);
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        align-content: space-between;
    }
    
    img {
        width: 200px;
        /* Ancho fijo para la imagen */
        height: 150px;
        /* Alto fijo para la imagen */
        object-fit: contain;
        margin: 0 auto 10px;
        /* Centrar horizontalmente y agregar margen inferior */
        display: block;
        /* Centrar horizontalmente */
    }
    
    h2 {
        font-size: 16px;
        margin: 10px 0;
        text-align: center;
    }
    
    p {
        font-size: 14px;
        margin: 10px 0;
        text-align: center;
    }
    /*
    button {
        background-color: var(--color-secundario);
        color: var(--color-terciario);
        font-weight: bold;
        align-items: center;    
    }   
    */
    .cantidad {
        width: 10px;
        padding: 5px;
        /* Espaciado interno */
        font-size: 13px;
        /* Tamaño de fuente */
        font-weight: bold;
        border-radius: 5px;
        /* Bordes redondeados */
    }
    
    .entrada {
        width: 32px;
        /* Ajusta el ancho del input */
        padding: 5px;
        /* Espaciado interno */
        font-size: 15px;
        /* Tamaño de fuente */
        border: 1px solid #ccc;
        /* Borde del input */
        border-radius: 5px;
        /* Bordes redondeados */
        box-shadow: #413c35;
    }
}

#cantidad-carrito {
    position: absolute;
    top: 80px;
    right: 15px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

/* boton comprar de productos */
.btnAgregar {
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.7rem;
    background-color: var(--color-secundario);
    color: var(--color-principal);
    width: 70px;
    height: 25px;
    margin-bottom: 15px;

    &:hover {
        background-color: var(--color-cuarto);
        color: var(--color-terciario);
    }
}

/* estilos de la página (modal) carrito de compras */
.modalCarrito {   
    text-align: center;    
    .filaCarrito {
        text-align: left;
    }

    border-style: solid;
    border-radius: 20px;
    border-color: var(--color-secundario);

    background-color: var(--color-terciario);

    #btnCerrarCarrito {
        border-radius: 20px;            
        font-weight: bold;
        font-size: 0.9rem;        
        background-color: var(--color-secundario);
        color: var(--color-principal);
        width: 140px;
        height: 35px;
        margin-bottom: 15px;
        &:hover{
            background-color: var(--color-cuarto);
            color: var(--color-terciario);
        }     
    } 
    
}



/* estilos de la página de contacto */
.mainContacto {
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;

    .seccionContacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; 
        width: 60%;
    
        .formContacto {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            div {
                display: flex;
                flex-direction: column;
                padding: 10px;
                    
                .inputContacto {
                    padding: 5px;
                    margin-top: 10px;
                    font-size: 1.3rem; 
                    border-radius: 10px;
                    width: 400px;
                }
            }
            
            .mensaje-error {
                color: red;
                font-size: 1.1rem;
            }
    
            .btnContacto {              
                border-radius: 20px;            
                font-weight: bold;
                font-size: 1rem;
                color: var(--color-principal);
                background-color: var(--color-secundario);
                color: var(--color-principal);
                width: 200px;
                height: 40px;
                margin-bottom: 15px;
                &:hover{
                    background-color: var(--color-cuarto);
                    color: var(--color-terciario);
                }               
            }        
        }    
    }

    .seccionNosotros {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 40%;
        
        img{
            width: 30px;
        }

        iframe{
            border-radius: 20px;
        }
        .grupoTelefono {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;            
        }

        .grupoRedes {
            display: flex;
            flex-direction: column;

            .grupoRedesAccesos{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 30px;
            }
        }
    }
}




/*Estilo de la pagina promociones*/
.promos {
    display: flex;
    flex-direction: column;
    /* Organiza los elementos en columna */
    align-items: center;
    /* Centra los elementos horizontalmente */
    height: auto;
    /* Ajusta la altura automáticamente */
    width: 100%;
    /* Ajusta el ancho del contenedor */
    overflow: hidden;
    /* Asegura que el contenido que se desborda se oculte */
    position: relative;
    /* Establece un contexto para los elementos hijos */
}

.destacado {
    border: 1px solid var(--color-secundario);
    margin: 30px 10px 10px 10px;
    width: 100%;
    /* Ajusta según el tamaño deseado */
    height: 250px;
    /* Ajusta según el tamaño deseado */
    background-size: cover;
    /* Asegura que la imagen cubra el contenedor */
    background-position: center;
    /* Centra la imagen dentro del elemento */
    background-image: url('../assets/img/promoPrincipal.jpg');
    background-repeat: no-repeat;
}

.centroTxt {
    white-space: nowrap;
    /* Evita que el texto se rompa en líneas nuevas */
    display: inline-block;
    /* Asegura que el texto se alinee en línea */
    text-align-last: center;
    color: var(--color-secundario);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    animation: entrar 1s ease-out forwards;
    width: 100%;
   

}
 /* traslada el texto */
@keyframes entrar {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(100);
        opacity: 1;
    }
}



.abajo {
    display: flex;
    justify-content:space-around;
    width: 100%;
    height: 100%;

 }

.izq, der {

     border: 1px solid var(--color-secundario);
    
}

.der {
    width: 500px;
    height: 200px;
     border: 1px solid var(--color-secundario);
    background-size:contain;
    /* Asegura que la imagen cubra el contenedor */
    background-position: center;
    /* Centra la imagen dentro del elemento */
    background-image: url('../assets/img/promo1.jpg');
}

.izq {
    width: 500px;
    height: 200px;
    border: 1px solid var(--color-secundario);
    background-size:contain;
    /* Asegura que la imagen cubra el contenedor */
    background-position: center;
    /* Centra la imagen dentro del elemento */
    background-image: url('../assets/img/promo2.jpg');
}